{% extends 'base.html' %}


{% block head_title %}

{% endblock head_title %}


{% block content %}

<h1 class="fw-bold py-3 px-5 sticky-top bg-white shadow">Home</h1>
<div class="container-fluid">

    {% include "nav-bar.html" %}
    <br>
    <div class="container-sm-fluid">
        <div class="row justify-content-center">
            <div class="col-lg-4 col-11 mx-2 mb-3 bg-white shadow rounded-5">
                <a class="text-decoration-none text-dark"
                    href="tel:999">
                    <div class="text-center py-5">
                        <span class="material-symbols-sharp text-info fs-1">
                            phone
                        </span>
                        <br>
                        <hr>
                        <span>Get help</span>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <br>
    <div class="container-sm-fluid">
        <div class="row justify-content-center">
            <div class="col-lg-4 col-11 mx-2 mb-3 bg-white shadow rounded-5">
                <a class="text-decoration-none text-dark"
                    href="#">
                    <div class="text-center py-5">
                        <span class="material-symbols-sharp text-info fs-1">
                            settings
                        </span>
                        <br>
                        <hr>
                        <span>What we do</span>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="">
        <div class="row justify-content-center">
            <div
                class="col-lg-2 col-5 mx-lg-1 mx-3 mb-3 bg-white shadow rounded-5">
                <a class="text-decoration-none text-dark"
                    data-bs-toggle="modal"
                    data-bs-target="#exampleModal"
                    href="#exampleModal">
                    <div class="text-center py-5">
                        <span class="material-symbols-sharp text-info fs-1">
                            contact_support
                        </span>
                        <br>
                        <hr>
                        <span>FAQs</span>
                    </div>
                </a>
            </div>
            <div
                class="col-lg-2 col-5 mx-lg-1 mx-3 mb-3 shadow rounded-5 bg-white">
                <a class="text-decoration-none text-dark"
                    data-bs-toggle="modal"
                    data-bs-target="#exampleModal"
                    href="#exampleModal">
                    <div class="py-5 text-center">
                        <span class="material-symbols-sharp text-info fs-1">
                            check
                        </span>
                        <br>
                        <hr>
                        <span>Myths and Facts</span>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade"
    id="exampleModal"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5"
                    id="exampleModalLabel">Modal title</h1>
                <button type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="accordion"
                    id="accordionExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header"
                            id="headingOne">
                            <button class="accordion-button"
                                type="button"
                                data-bs-toggle="collapse"
                                data-bs-target="#collapseOne"
                                aria-expanded="true"
                                aria-controls="collapseOne">
                                Accordion Item #1
                            </button>
                        </h2>
                        <div id="collapseOne"
                            class="accordion-collapse collapse show"
                            aria-labelledby="headingOne"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <strong>This is the first item's accordion
                                    body.</strong> It is shown by default,
                                until the collapse plugin adds the appropriate
                                classes that we use to style each element.
                                These classes control the overall appearance,
                                as well as the showing and hiding via CSS
                                transitions. You can modify any of this with
                                custom CSS or overriding our default variables.
                                It's also worth noting that just about any HTML
                                can go within the <code>.accordion-body</code>,
                                though the transition does limit overflow.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header"
                            id="headingTwo">
                            <button class="accordion-button collapsed"
                                type="button"
                                data-bs-toggle="collapse"
                                data-bs-target="#collapseTwo"
                                aria-expanded="false"
                                aria-controls="collapseTwo">
                                Accordion Item #2
                            </button>
                        </h2>
                        <div id="collapseTwo"
                            class="accordion-collapse collapse"
                            aria-labelledby="headingTwo"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <strong>This is the second item's accordion
                                    body.</strong> It is hidden by default,
                                until the collapse plugin adds the appropriate
                                classes that we use to style each element.
                                These classes control the overall appearance,
                                as well as the showing and hiding via CSS
                                transitions. You can modify any of this with
                                custom CSS or overriding our default variables.
                                It's also worth noting that just about any HTML
                                can go within the <code>.accordion-body</code>,
                                though the transition does limit overflow.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header"
                            id="headingThree">
                            <button class="accordion-button collapsed"
                                type="button"
                                data-bs-toggle="collapse"
                                data-bs-target="#collapseThree"
                                aria-expanded="false"
                                aria-controls="collapseThree">
                                Accordion Item #3
                            </button>
                        </h2>
                        <div id="collapseThree"
                            class="accordion-collapse collapse"
                            aria-labelledby="headingThree"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <strong>This is the third item's accordion
                                    body.</strong> It is hidden by default,
                                until the collapse plugin adds the appropriate
                                classes that we use to style each element.
                                These classes control the overall appearance,
                                as well as the showing and hiding via CSS
                                transitions. You can modify any of this with
                                custom CSS or overriding our default variables.
                                It's also worth noting that just about any HTML
                                can go within the <code>.accordion-body</code>,
                                though the transition does limit overflow.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}